<h1>Bienvenidos</h1>
<p>Holi </p>








    <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>



    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="images/uni.png">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>


      </div>
    </div>
  </div>



  <hr class="featurette-divider">
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <br>
      <br>
      <h2 class="featurette-heading">¿Que es EZWheels?</h2>
      <p class="lead">EZWheels es una aplicación la cual le permite al usuario rentar distintos medios de transporte desde la comodidad de su casa y sin costo adicional.</p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/businesss.jpg" >
    </div>
  </div>

  <hr class="featurette-divider">
  <br>
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <br>

      <h2 class="featurette-heading">Nos preocupamos por tu seguridad</h2>
      <p class="lead">En EZWheels nos preocupamos por la seguridad y satisfacción de nuestro cliente. Es por ello que todos los puntos asociados a nuestra aplicación cuentan con un estricto estandar de calidad sobre el estado de los vehículos y accesorios a rentar.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/img/standar.png" >
    </div>
  </div>

  <hr class="featurette-divider">
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <br>
      <br>
      <h2 class="featurette-heading">Estamos en todos lados</h2>
      <p class="lead">Estamos asociados a decenas de parqueaderos a lo largo de la ciudad por lo que siempre tendrás un punto EZWheels cerca de ti. </p>
    </div>
    <div class="col-md-5">
      <img src="assets/img/a.jpg" >
    </div>
  </div>
